---
layout: notesindex
excerpts: true
folder-title: "Reading Articles"
title: "Articles"
---

{% assign reading-articles_notes_pinned = site.notes | where:"reading-articles","true" | where:"pinned","true" | sort: "path" %}
{% unless reading-articles_notes_pinned == empty %}
<h2 id="pinned">Pinned {{page.title}} notes</h2>
<ul>
    {% for item in reading-articles_notes_pinned %}
        {% include item-list-link.html %}
    {% endfor %}
</ul>
{% endunless %}

<h2 id="all">All my notes on articles I've read</h2>
{% assign reading-articles_notes_all = site.notes | where:"reading-articles","true" | sort: "date_read" %}
{% if reading-articles_notes_all.size > 0 %}
<ul>
    {% for item in reading-articles_notes_all %}
        {% include item-list-link.html %}
    {% endfor %}
</ul>
{% else %}
<p>There's nothing here yet!</p>
{% endif %}

<h2 id="all">All my reading notes on articles by year</h2>

{% comment %}
{% assign reading_notes_2023 = site.notes | where:"reading-articles","true" | where:"year_read","2023" | sort: "date_read" %}
{% if reading_notes_2023.size > 0 %}
<details open><summary><h3 id="2023">2023</h3></summary>
    <div>
    <ul>
        {% for item in reading_notes_2023 %}
            {% include item-list-link.html %}
        {% endfor %}
    </ul>
    </div>
</details>
{% else %}
<p>There's nothing here yet!</p>
{% endif %}
{% endcomment %}


{% assign reading_notes_2022 = site.notes | where:"reading-articles","true" | where:"year_read","2022" | sort: "date_read" %}
{% if reading_notes_2022.size > 0 %}
<details open><summary><h3 id="2022">2022</h3></summary>
    <div>
    <ul>
        {% for item in reading_notes_2022 %}
            {% include item-list-link.html %}
        {% endfor %}
    </ul>
    </div>
</details>
{% else %}
<p>There's nothing here yet!</p>
{% endif %}
