<script type="text/javascript" src="{{ site.baseurl }}/assets/js/vendor/jquery/jquery-3.4.1.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/plugins/bigfoot.min.js"></script>
<script type="text/javascript">
   $.bigfoot({actionOriginalFN: "ignore", numberResetSelector: "article", positionContent: "true"}); 
</script>
<script src="https://tinylytics.app/embed/NP4BSz5EjtQyxN4P-Xo3.js?kudos=✨" defer></script>
<div style="text-align: center; margin-bottom: 16px;">
    <a href="{{ '/colophon/' | relative_url }}">Colophon</a><span> &there4; </span>
    <a href="{{ '/feed.xml' | relative_url }}">Subscribe</a><span> &there4; </span>
    <a href="{{ '/featured-pages/' | relative_url }}">Featured Pages</a>
</div>
<div class="footer-buttons-container" style="margin-bottom: 16px;">
    <div><a class="" href="https://people.pledge.party/"><img src="/assets/images/people_pledge_badge_party_black_white.svg" alt="people pledge party"></img></a></div>
    <div><a class="" href="{{ '/ai/' | relative_url }}"><img src="/assets/images/MadeByAHuman_blue.svg" alt="smiley face and the words made by a human"></img></a></div>
<!--
    <div><a class="" href="https://creativecommons.org/licenses/by-nc/4.0/"><img src="/assets/images/by-nc.png" alt="cc-by-nc"></img></a></div>
    <div><a class="" href="https://en.wikipedia.org/wiki/ISO_8601"><img src="/assets/images/iso8601.jpg" alt="ISO 8601 (YYYY-MM-DD) now!"></img></a></div>
    <div><img src="/assets/images/CoffeePowered_orange.svg" alt="smiling coffee mug and the words coffee powered"></img></div>
    <div><img src="/assets/images/upallnight.gif" alt="words up all night scrolling vertically with a glitchy retro television aesthetic"></img></div>
    <div><img src="/assets/images/PlantPowered_blue.svg" alt="smiling avocado and the words plant powered"></img></div>

    <div><a class="" href="https://people.pledge.party/" alt="people pledge party"><img src="/assets/images/people_pledge_badge_party_pink_cream.svg"></img></a></div>
    <div><a class="" href="https://creativecommons.org/licenses/by-nc/4.0/"><img src="/assets/images/by-nc.png" alt="cc-by-nc"></img></a></div>
    <div><img src="/assets/images/MadeByAHuman_green.svg" alt="smiley face and the words made by a human"></img></div>
    <div><a class="" href="https://en.wikipedia.org/wiki/ISO_8601"><img src="/assets/images/iso8601.jpg" alt="ISO 8601 (YYYY-MM-DD) now!"></img></a></div>
    <div><img src="/assets/images/CoffeePowered_orange.svg" alt="smiling coffee mug and the words coffee powered"></img></div>
    <div><img src="/assets/images/upallnight.gif" alt="words up all night scrolling vertically with a glitchy retro television aesthetic"></img></div>
    <div><img src="/assets/images/PlantPowered_blue.svg" alt="smiling avocado and the words plant powered"></img></div>
-->
</div>