<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/academicons.min.css"/>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<script defer data-domain="ryanpatrickrandall.com" src="https://plausible.io/js/script.js"></script>

<!-- Light mode -->
{% if site.minimal_mistakes_skin_light %}
  <meta name="color-scheme" content="light dark">
  <style>
    @import url("{{ '/assets/css/main2.css' | relative_url }}") (prefers-color-scheme: light);
  </style>
{% endif %}