---
layout: notesindex
excerpts: true
folder-title: "ADHD tech"
title: "ADHD tech"
---

{% assign adhd-tech_notes_pinned = site.notes | where:"adhd-tech","true" | where:"pinned","true" | sort: "path" %}
{% unless adhd-tech_notes_pinned == empty %}
<h2 id="pinned">Pinned {{page.title}} notes</h2>
<ul>
    {% for item in adhd-tech_notes_pinned %}
        {% include item-list-link.html %}
    {% endfor %}
</ul>
{% endunless %}


<h2 id="all">All {{page.title}} items</h2>
{% assign adhd-tech_notes_all = site.notes | where:"adhd-tech","true" | sort: "path" %}
{% if adhd-tech_notes_all.size > 0 %}
<ul>
    {% for item in adhd-tech_notes_all %}
        {% include item-list-link.html %}
    {% endfor %}
</ul>
{% else %}
<p>There's nothing here yet!</p>
{% endif %}