---
layout: notesindex
excerpts: true
folder-title: "Pedagogy"
title: "Pedagogy Notes"
---

{% assign pedagogy_notes_pinned = site.notes | where:"pedagogy","true" | where:"pinned","true" | sort: "path" %}
{% unless pedagogy_notes_pinned == empty %}
<h2 id="pinned">Pinned {{page.title}} notes</h2>
<ul>
    {% for item in pedagogy_notes_pinned %}
        {% include item-list-link.html %}
    {% endfor %}
</ul>
{% endunless %}


<h2 id="all">All {{page.title}} items</h2>
{% assign pedagogy_notes_all = site.notes | where:"pedagogy","true" | sort: "path" %}
{% if pedagogy_notes_all.size > 0 %}
<ul>
    {% for item in pedagogy_notes_all %}
        {% include item-list-link.html %}
    {% endfor %}
</ul>
{% else %}
<p>There's nothing here yet!</p>
{% endif %}