---
date: 2022-04-17
last_modified_at: 2024-04-22
layout: notesindex
excerpts: true
folder-title: "Reading"
title: "Reading"
notes-folder-path: "/notes/Reading/"
---
<h2>All {{page.title}} folders</h2>

{% assign folders = site.notes | where_exp:"item", "item.path contains 'Reading'" %}
{% assign wikifolders = "" | split:"" %}

{% for folder in folders %}
{% assign tempvar = folder.path | split:"/" %}
{% assign wikifolders = wikifolders | push:tempvar[1] %}
{% endfor %}

{% assign wikifolders = wikifolders | uniq | sort %}

<div class="wiki-folder-grid">
    <div class="wiki-folder-grid-thirds">
        <a class="btn btn--primary btn--large" href="{{page.folder-notes-path}}Articles">Articles</a>
    </div>
    <div class="wiki-folder-grid-thirds">
        <a class="btn btn--primary btn--large" href="{{page.folder-notes-path}}Books">Books</a>
    </div>
    <div class="wiki-folder-grid-thirds">
        <a class="btn btn--primary btn--large" href="{{page.folder-notes-path}}Lists">Lists</a>
    </div>
</div>

<h2 id="all">All my reading notes</h2>
{% assign reading_notes_all = site.notes | where:"reading","true" | sort_natural: "title" %}
{% if reading_notes_all.size > 0 %}
<ul>
    {% for item in reading_notes_all %}
        {% if item.reading-books == true or item.reading-articles == true %}
            {% include item-list-link.html %}
        {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>There's nothing here yet!</p>
{% endif %}


<h2 id="all">All my reading notes, by year finished</h2>

{% assign reading_notes_by_year = reading_notes_all | where_exp:"item", "item.year_read > 2022" | group_by:"year_read" %}
{% for year in reading_notes_by_year reversed %}
    <section id="{{ year.name }}">
        <h3 id="{{year.name}}">{{ year.name }}</h3>
        <ul>
        {% for item in year.items %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
        </ul>
    </section>
{% endfor %}

<!-- 

    
    <h3>2024</h3>
    
    {% assign reading_notes_2024 = site.notes | where: "year_read", "2024" %}
    
    <ul>
        {% for item in reading_notes_2024 %}
        <li><a href="{{ item.url }}">{{ item.title }}
            {% if item.status == ":seedling:" %} :seedling:{% endif %}
            {% if item.status == ":herb:" %} :herb:{% endif %}
            {% if item.status == ":evergreen_tree:" %} :evergreen_tree:{% endif %}
        </a>
    </li>
    {% endfor %}
</ul>

<h3>2023</h3>

{% assign reading_notes_2023 = site.notes | where: "year_read", "2023" %}
<ul>
    {% for item in reading_notes_2023 %}
    <li><a href="{{ item.url }}">{{ item.title }}
        {% if item.status == ":seedling:" %} :seedling:{% endif %}
        {% if item.status == ":herb:" %} :herb:{% endif %}
        {% if item.status == ":evergreen_tree:" %} :evergreen_tree:{% endif %}
    </a>
</li>
{% endfor %}
</ul>

-->