---
layout: notesindex
excerpts: true
folder-title: "TV"
title: "TV Notes"
---
<h2 id="all">All my tv watching notes, by alphabetical order</h2>
{% assign tv_notes_all = site.notes | where:"tv","true" | where_exp:"item", "item.year_started > 2010" | sort_natural: "title" %}

{% if tv_notes_all.size > 0 %}
<details open id="{{ alphabetical }}"><summary><h3 id="{{alphabetical}}">Alphabetical by Title</h3></summary>
    <div>
    <ol>
    {% for item in tv_notes_all %}
        <li><a href="{{ item.url }}">{{ item.title }}</a>{% if work_author %} by {{ item.work_author }}{% endif %}</li>
    {% endfor %}
    </ol>
    </div>
</details>
{% else %}
<p>There's nothing here yet!</p>
{% endif %}

{% if tv_notes_all.size > 0 %}
<h2 id="all">All my tv watching notes, by year started</h2>

{% assign tv_notes_all = site.notes | where:"tv","true" %}
{% assign tv_notes_by_year = tv_notes_all | where_exp:"item", "item.year_started > 2010" | sort: "year_started" | group_by:"year_started" %}
{% for year in tv_notes_by_year reversed %}
{% assign year_sort_title = year.items | sort_natural: "title"%}
<details open id="{{ year.name }}"><summary><h3 id="{{year.name}}">{{ year.name }}</h3></summary>
<div>
<ol>
{% for item in year_sort_title %}
<li>
    <!--
        {% if item.tv-articles %} :page_facing_up:{% endif %}
        {% if item.tv-books %} :green_book:{% endif %}
    -->
    <a href="{{ item.url }}">{{ item.title }}</a>{% if work_author %} by {{ item.work_author }}{% endif %}
    <!--
        {% if item.access == "oa" %} <a href="{{ page.work_link }}">{{ page.work_link_text }}</a><i class="ai ai-open-access" aria-hidden="true"></i><span class="sr-only">open access</span>{% endif %}
        {% if item.access == "paywalled" %} :closed_lock_with_key:{% endif %}
    -->
    {% if item.status == ":seedling:" %} :seedling:{% endif %}{% if item.status == ":herb:" %} :herb:{% endif %}{% if item.status == ":evergreen_tree:" %} :evergreen_tree:{% endif %}<br>
    {{ item.excerpt | markdownify }}
</li>
{% endfor %}
</ol>
</div>
</details>
{% endfor %}
{% endif %}