<form method="POST" action="https://api.staticman.net/v1/entry/ryan-p-randall/ryan-p-randall.github.io/master">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <label for="fields[name]">Your name</label>
  <input name="fields[name]" type="text">
  <label for="fields[email]">Your email</label>
  <input name="fields[email]" type="email">
  <label for="fields[message]">Your comments, corrections, fist-bumbs, and/or etc.</label>
  <input type="hidden" name="options[post-slug]" value="this-is-a-post">
  <textarea name="fields[message]"></textarea>
  <button type="submit">Do the thing! (aka "Submit!")</button>
</form>