<p>As an Instructional Designer at <a href="https://www.isu.edu/itrc/about-the-itrc/itrc-staff/">Idaho State University</a>, I work to help faculty design engaging, clear, and accessible online courses that improve outcomes for every learner. I'm enthusiastic about open educational resources (OERs) and open pedagogical approaches.</p>

<p>I'm also a student in Idaho State University's <a href="https://www.isu.edu/english/graduate-programs/phd-in-english-and-the-teaching-of-english/">Ph.D. in English and the Teaching of English</a> program, which emphasizes pedagogy more than most English literature programs. I serve as the Web Editor for <em><a href="http://www.inthelibrarywiththeleadpipe.org/">In the Library with the Lead Pipe</a></em>, an open access, open peer reviewed library journal.</p>

<p>In my previous role as the Instruction Coordinator and Faculty Outreach Librarian for the <a href="https://cwi.edu/">College of Western Idaho</a>, I worked with students, other librarians, faculty, and staff to promote critical information literacy and library use.</p>  

<p>Prior to librarianship, I earned an MA in <a href="http://english.ucr.edu/">English from the University of California, Riverside</a> and an MA in <a href="http://www.rochester.edu/college/vcs/">Visual and Cultural Studies from the University of Rochester</a>. While a graduate student, then as an adjunct, I taught what librarians call information literacy skills as the instructor for many first-year writing seminar courses and lower-division American Studies and Film/Media courses. I was also a college writing tutor for undergraduate and graduate students. The path of librarianship took me to <a href="http://www.soic.indiana.edu/graduate/degrees/information-library-science/master-library-science/">IU Bloomington's MLS program</a>, where my favorite courses emphasized critical information literacy, humanities subject librarianship, and digital humanities.</p>

<p>Outside of that more clearly academic stuff, I've hosted a <a href="https://www.facebook.com/The-Hydrogen-Jukebox-57513727143/">college radio show</a> on <a href="http://kucr.org/">KUCR</a> &amp; <a href="http://wrur.org/">WRUR</a>, been in <a href="http://raincrossunderground.omeka.net/items/browse?tags=Kiss+Kill+You">a band</a> or two, and learned from participation and collective study in various <a href="http://raincrossunderground.omeka.net/">do-it-ourselves communities</a>. If you're looking for communities related to librarianship, you might start by checking out <a href="http://critlib.org/">#critlib</a>, <a href="https://libparlor.com">The Librarian Parlor</a>, and <a href="http://hacklibraryschool.com/">Hack Library School</a>, each of which I often look to for insights.</p>

<h2>CV</h2>

<p>If all of this somehow leaves your curiosity unsated, here's <a href="{{ '/cv' | relative_url }}">my CV</a>.</p>

<h2 id="other-pages">Other Pages</h2>
<ul>
    <li>my <a href="{{ '/now' | relative_url }}">/Now</a> page.</li>
    <li>my <a href="{{ '/reading' | relative_url }}">/Reading</a> page.</li>
    <li>my <a href="{{ '/links-rhizome' | relative_url }}">/Links Rhizome</a> page.</li>
    <li>my <a href="{{ '/uses' | relative_url }}">/Uses</a> page.</li>
    <li>this site's <a href="{{ '/colophon' | relative_url }}">/Colophon</a>.</li>
</ul>