<li>
    <a href="http://www.inthelibrarywiththeleadpipe.org/about/editorial-board/ryan-randall/" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="ai ai-open-access" aria-hidden="true" style="margin-right: .5em;"></i>In the Library with the Lead Pipe
  </a>
</li>
<li>
    <a href="https://hcommons.social/@ryanrandall" itemprop="sameAs" rel="me nofollow noopener noreferrer">
    <i class="fab fa-mastodon" aria-hidden="true" style="margin-right: .5em;"></i>Mastodon (on HCommons.Social)
    </a>
  </li>
<li>
    <a href="https://hcommons.org/members/foureyedsoul/" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="fas fa-university" aria-hidden="true" style="margin-right: .5em;"></i>Humanities Commons
    </a>
</li>
<li>
    <a href="https://scholar.social/@foureyedsoul" itemprop="sameAs" rel="me nofollow noopener noreferrer">
    <i class="fab fa-mastodon" aria-hidden="true" style="margin-right: .5em;"></i>Mastodon (on Scholar.Social)
    </a>
</li>
<li>
    <a href="https://orcid.org/0000-0003-4499-7255" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="ai ai-orcid" aria-hidden="true" style="margin-right: .5em;"></i>Orcid
    </a>
</li>
<li>
    <a href="https://www.zotero.org/ryanprandall" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="ai ai-zotero" aria-hidden="true" style="margin-right: .5em;"></i>Zotero
    </a>
</li>
<li>
    <a href="http://goodreads.com/user/show/2077359-ryan" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="fas fa-fw fa-book" aria-hidden="true" style="margin-right: .5em;"></i>Goodreads
    </a>
</li>
<li>
    <a href="{{ '/now' | relative_url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="fas fa-user-clock" aria-hidden="true" style="margin-right: .5em;"></i>/Now
    </a>
</li>

<!--
<li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="fas fa-fw" aria-hidden="true"></i>Custom Social Profile Link
    </a>
</li>
-->