<li>
    <a href="{{ '/' | relative_url }}" itemprop="sameAs" rel="me">
    <i class="fas fa-home" aria-hidden="true" style="margin-right: .5em;"></i>/Home
    </a>
</li>
<li>
    <a href="{{ '/now' | relative_url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="fas fa-user-clock" aria-hidden="true" style="margin-right: .5em;"></i>/Now
    </a>
</li>
<li>
    <a href="{{ '/reading' | relative_url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="fas fa-book-open" aria-hidden="true" style="margin-right: .5em;"></i>/Reading
    </a>
</li>
<li>
    <a href="{{ '/elsewhere' | relative_url }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="fas fa-seedling" aria-hidden="true" style="margin-right: .5em;"></i>/Elsewhere
    </a>
</li>

<!--
<li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="fas fa-fw" aria-hidden="true"></i>Custom Social Profile Link
    </a>
</li>
-->