<!-- <h3 id="page-info">Page Info</h3>-->
    <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(2, 0.5fr);">
        <div class="backlink-box">
            <a class="internal-link"
                        href="{{ site.github.repository_url }}/commits/develop/{{ page.path }}">View page revision history</a></div>
        <div class="backlink-box">
            <a class="internal-link"
                            href="{{ site.github.repository_url }}/blob/develop/{{ page.path }}">View page source</a></div>
    </div>