{% if page.page-citation-mla == true or page.categories contains "semi-schematic" %}
    <div class="citation-box">
    <h2 id="cite">Cite this post:</h2>
    <p style="margin-bottom: 0em;">{{ site.citation_name }} &ldquo;{{ page.title }}&rdquo;. Published {{ page.date | date: "%B %d, %Y" }}. <a href="{{site.url}}{{page.url}}">{{site.url}}{{page.url}}</a>. Accessed on
	<script>
		<!--
		var now = new Date();
		var months = new Array('January','February','March','April','May','June','July','August','September','October','November','December');
		var date = ((now.getDate()<10) ? "0" : "")+ now.getDate();
		function fourdigits(number) {
		    return (number < 1000) ? number + 1900 : number;
		}
		today =  months[now.getMonth()] + " " +
 		        date + ", " +
  		       (fourdigits(now.getYear())) ;
		document.write(today);
		-->
	</script>.
    </p>
    </div>
{% endif %}