<article>
    <!--<h4>
        :books:
        <a href="{{ site.baseurl}}/notes/Reading/Lists/exam-list2-field.html">Exam List 2: Mobility, Agency, & Surveillance in 20th & 21st Century American Literature
        </a></h4>-->
        {% assign reading_list02 = site.notes | where:"reading_list02","true" %}
        {% assign reading_list02_finished = reading_list02 | where: "reading_status","finished" %}
        {% assign reading_list02_note = site.notes | where:"title","Exam List 2: Mobility, Agency, & Surveillance in 20th & 21st Century American Literature" %}
        {% comment %}
        <p>
            {{ reading_list02.size }} total books in this list.
            {{ reading_list02_finished.size }} books finished in this list.
        </p>
        {% endcomment %}
    {% if reading_list02_note.size > 0 %}
        {% for item in reading_list02_note %}
    <p>Started: {{ item.date_started }}<br />
        Last updated: {{ item.last_modified_at }}<br />
        Amount read: {{ reading_list02_finished.size }} of {{ item.progress_max }} works.</p>
  <label for="reading-progress" style="margin-top: -1.4em; margin-bottom: 0em;">Progress:</label> <progress id="reading-progress" value="{{ reading_list02_finished.size }}" max="{{ item.progress_max }}">{{ reading_list02_finished.size }} works</progress>
        {% endfor %}
        {% else %}
        <p>No books in this List!</p>
    {% endif %}
</article>