<!-- {% assign tags_common_sorted = commonTags.tags | sort_natural %} -->

<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
{% include page__meta.html type=include.type %}
<p>
    {{ post.excerpt | markdownify }}
</p>
<details class="tags" style="font-size: .9em;"><summary>
    {{ site.data.ui-text[site.locale].tags_label | default: "Tags" }} 
    </summary>
    <div>
        <ul class="list-unstyled">
            {% for tag in post.tags %}
            <li style="font-size: .9em;">
                <a href="{{ tag | slugify | prepend: path_type | prepend: site.tag_archive.path | relative_url }}" class="page__taxonomy-item p-category" rel="tag">{{ tag }}</a><!-- {% unless forloop.last %}<span class="sep">, </span>{% endunless %}-->
            </li>
            {% endfor %}
        </ul>
    </div>
</details>