{% if page.url != "/" %}
<h2 id="all-webmentions" style="margin-top: 1em;">Webmentions</h2>

{% capture webmentioncount %}{% webmention_count page.url %}{% endcapture %}
    {% assign webmentioncount = webmentioncount | remove: '<span class="webmention-count">' | remove: "</span>" | times:1 %}
{% if webmentioncount > 0 %}

{% capture replies_count %}{% webmention_count page.url replies %}{% endcapture %}
    {% assign replies_count = replies_count | remove:'<span class="webmention-count" data-webmention-types="replies">' | remove: '</span>' | times:1 %}

    {% if replies_count > 0 %}
    <h3 id="webmention-replies">{% webmention_count page.url replies %} Webmention Replies</h3>
        {% webmention_replies page.url %}
    {% endif %}

{% capture likes_count %}{% webmention_count page.url likes %}{% endcapture %}
    {% assign likes_count = likes_count | remove:'<span class="webmention-count" data-webmention-types="likes">' | remove: '</span>' | times:1 %}

    {% if likes_count > 0 %}
    <h3 id="webmention-likes">{% webmention_count page.url likes %} Webmention Likes</h3>
        {% webmention_likes page.url %}
    {% endif %}

{% capture reposts_count %}{% webmention_count page.url reposts %}{% endcapture %}
    {% assign reposts_count = reposts_count | remove:'<span class="webmention-count" data-webmention-types="reposts">' | remove: '</span>' | times:1 %}

    {% if reposts_count > 0 %}
    <h3 id="webmention-reposts">{% webmention_count page.url reposts %} Webmention Reposts</h3>
        {% webmention_reposts page.url %}
    {% endif %}

{% capture bookmarks_count %}{% webmention_count page.url bookmarks %}{% endcapture %}
    {% assign bookmarks_count = bookmarks_count | remove:'<span class="webmention-count" data-webmention-types="bookmarks">' | remove: '</span>' | times:1 %}

    {% if bookmarks_count > 0 %}
    <h3 id="webmention-bookmarks">{% webmention_count page.url bookmarks %} Webmention Bookmarks</h3>
        {% webmention_bookmarks page.url %}
    {% endif %}

{% endif %}
<p>
    <form id="webmention-form" action="https://webmention.io/www.ryanpatrickrandall.com/webmention" method="POST">
        <label for="webmention-form">This post accepts <a href="https://en.wikipedia.org/wiki/Webmention">webmentions</a>. If you link to and write about this on your website, you can enter the web address of your post in this field.<br> Mentions will appear below. (But not automatically! As I'm experimenting with Webmentions, I'm still approving them manually, so it might take a few days.)</label>
            <input id="webmention-source" type="url" autocomplete="url" required="" pattern="^https?:\/\/(.*)" name="source" placeholder="URL/Permalink of your article" class="error" aria-invalid="true">
            <input id="webmention-submit" type="submit" name="submit" value="Ping me!">
            <input id="webmention-format" type="hidden" name="format" value="html">
            <input id="webmention-target" type="hidden" name="target" value="">
        </form>
</p>

{% endif %}