<nav class="wiki-breadcrumbs">
    <ol itemscope itemtype="https://schema.org/BreadcrumbList">
        {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
        <li>
            <a href="{{ '/' | relative_url }}">home</a> 
        </li>
        {% for crumb in crumbs offset: 1 %}
        {% if forloop.last %}
        <li>
            {{ crumb | replace:'-',' ' | remove:'.html' }}
        </li>
        {% else %}
        <li>
            <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' }}</a>
        </li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>

<!-- <div id="">
 {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
        <a href="/">home</a> / 
        {% for crumb in crumbs offset: 1 %}
          {% if forloop.last %}
            {{ crumb | replace:'-',' ' | remove:'.html' }}
          {% else %}
            <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' }}</a> /
          {% endif %}
        {% endfor %}
</div>-->