<div class="notice" style="padding: 0px; display: flex; flex-flow: row nowrap; justify-content: space-evenly;">
    <div class="wiki-flex-item">
        <ul style="list-style-type: none; margin: 1em;">
            <li>:seedling: = emerging note</li>
            <li>:herb: = established note</li> 
            <li>:evergreen_tree: = evergreen note</li>
        </ul>
    </div>
    <div class="wiki-flex-item">
        <ul style="list-style-type: none; margin: 1em;">
            <li><i class="ai ai-open-access" aria-hidden="true"></i><span class="sr-only">open access</span> = open access</li>
            <li>:closed_lock_with_key: = paywalled</li>
            <li><i class="fas fa-globe" aria-hidden="true"></i><span class="sr-only">general web link</span> = general web link</li>
        </ul>
    </div> 
</div>