---
layout: notesindex
excerpts: true
folder-title: "Listening"
title: "Listening"
---
<h1>Welcome to my {{page.title}} notes!</h1>

<!--
<h2>All {{page.title}} folders</h2>

{% assign folders = site.notes | where_exp:"item", "item.path contains 'Listening'" %}
{% assign wikifolders = "" | split:"" %}

{% for folder in folders %}
{% assign tempvar = folder.path | split:"/" %}
{% assign wikifolders = wikifolders | push:tempvar[1] %}
{% endfor %}

{% assign wikifolders = wikifolders | uniq | sort %}


<div class="wiki-folder-grid">
    <div class="wiki-folder-grid-thirds">
        <a class="" href="/notes/Listening/Articles">
            <div class="btn btn--primary btn--large">Articles</div>
        </a>
    </div>
    <div class="wiki-folder-grid-thirds">
        <a class="" href="/notes/Listening/Books">
            <div class="btn btn--primary btn--large">Books</div>
        </a>
    </div>
</div>
-->

{% assign listening_notes_pinned = site.notes | where:"listening","true" | where:"pinned","true" | sort: "path" %}
{% unless listening_notes_pinned == empty %}
<h2 id="pinned">Pinned {{page.title}} notes</h2>
<ul>
    {% for item in listening_notes_pinned %}
    <li>{% if item.pinned %}📌 {% endif %}
        <a href="{{ item.url }}">{{ item.title }}
            {% if item.status == ":seedling:" %} :seedling:{% endif %}
            {% if item.status == ":herb:" %} :herb:{% endif %}
            {% if item.status == ":evergreen_tree:" %} :evergreen_tree:{% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
{% endunless %}

<h2 id="all">All {{page.title}} items</h2>
{% assign listening_notes_all = site.notes | where:"listening","true" | sort: "path" %}
{% if listening_notes_all.size > 0 %}
<ul>
    {% for item in listening_notes_all %}
    <li>{% if item.pinned %}📌 {% endif %}
        <a href="{{ item.url }}">{{ item.path }}
            {% if item.status == ":seedling:" %} :seedling:{% endif %}
            {% if item.status == ":herb:" %} :herb:{% endif %}
            {% if item.status == ":evergreen_tree:" %} :evergreen_tree:{% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There's nothing here yet!</p>
{% endif %}
