---
layout: notesindex
excerpts: true
folder-title: "Approaches"
title: "Approaches"
---

{% assign approaches_notes_pinned = site.notes | where:"approaches","true" | where:"pinned","true" | sort: "path" %}
{% unless approaches_notes_pinned == empty %}
<h2 id="pinned">Pinned {{page.title}} notes</h2>
<ul>
    {% for item in approaches_notes_pinned %}
        {% include item-list-link.html %}
    {% endfor %}
</ul>
{% endunless %}


<h2 id="all">All {{page.title}} items</h2>
{% assign approaches_notes_all = site.notes | where:"approaches","true" | sort: "path" %}
{% if approaches_notes_all.size > 0 %}
<ul>
    {% for item in approaches_notes_all %}
        {% include item-list-link.html %}
    {% endfor %}
</ul>
{% else %}
<p>There's nothing here yet!</p>
{% endif %}