---
layout: notesindex
excerpts: true
folder-title: "Snippets"
title: "Snippets"
---

{% assign snippets_notes_pinned = site.notes | where:"snippets","true" | where:"pinned","true" | sort: "path" %}
{% unless snippets_notes_pinned == empty %}
<h2 id="pinned">Pinned {{page.title}} notes</h2>
<ul>
    {% for item in snippets_notes_pinned %}
        {% include item-list-link.html %}
    {% endfor %}
</ul>
{% endunless %}


<h2 id="all">All {{page.title}} items</h2>
{% assign snippets_notes_all = site.notes | where:"snippets","true" | sort: "path" %}
{% if snippets_notes_all.size > 0 %}
<ul>
    {% for item in snippets_notes_all %}
        {% include item-list-link.html %}
    {% endfor %}
</ul>
{% else %}
<p>There's nothing here yet!</p>
{% endif %}