---
layout: notesindex
excerpts: true
folder-title: "social-media"
title: "Social Media"
---
{% assign technology-social-media_notes_pinned = site.notes | where:"technology-socia-media","true" | where:"pinned","true" | sort: "path" %}
{% unless technology-social-media_notes_pinned == empty %}
<h2 id="pinned">Pinned {{page.title}} notes</h2>
<ul>
    {% for item in technology-social-media_notes_pinned %}
    <li>
        <a href="{{ item.url }}">{% if item.pinned %}📌{% endif %}{{ item.title }}
            {% if item.status == ":seedling:" %} :seedling:{% endif %}
            {% if item.status == ":herb:" %} :herb:{% endif %}
            {% if item.status == ":evergreen_tree:" %} :evergreen_tree:{% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
{% endunless %}


<h2 id="all">All {{page.title}} items</h2>
{% assign technology-social-media_notes_all = site.notes | where:"technology-social-media","true" | sort: "path" %}
{% if technology-social-media_notes_all.size > 0 %}
<ul>
    {% for item in technology-social-media_notes_all %}
    <li>{% if item.pinned %}📌{% endif %}
        <a href="{{ item.url }}">{{ item.title }}
            {% if item.status == ":seedling:" %} :seedling:{% endif %}
            {% if item.status == ":herb:" %} :herb:{% endif %}
            {% if item.status == ":evergreen_tree:" %} :evergreen_tree:{% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There's nothing here yet!</p>
{% endif %}