---
---
@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin_light | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.footnote {
    color: #252a34;
    text-decoration: none;
}

.footnotes {
    color: #252a34;
}

.notice a {
    color: #a3470a;
}

.notice a:visited {
    color: #863c0b;
}

.notice a:hover {
    color: #b56c3b;
}

/* make heading link icons visible when focused */

.page__content h1 .header-link:focus,
.page__content h2 .header-link:focus,
.page__content h3 .header-link:focus,
.page__content h4 .header-link:focus,
.page__content h5 .header-link:focus,
.page__content h6 .header-link:focus {
    opacity: unset;
}

/* custom color for focus outline */
a:focus,
button:focus,
.bigfoot-footnote__button:focus,
summary:focus {
  outline: .2rem solid #f0f0f0;
/*  outline-offset: .2rem; */
/*  outline-color:#007053; */
  box-shadow: 0 0 0 .3rem #007053;
}

/* more heading style experimentation */

/*
h1,h2,h3,h4,h5,h6 {
    color: $masthead-link-color;
}
*/