---
---

$max-width: 85%;
@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin_light | default: 'default' }}"; // light skin
@import "minimal-mistakes"; // main partials

.footnote {
    color: #252a34;
    text-decoration: none;
}

.footnotes {
    color: #252a34;
}

.notice--primary {
  a {
    color: mix(#000, $primary-color, 20%);

    &:hover {
      color: mix(#000, $primary-color, 40%);
    }
  }
}

/*
.notice a {
    color: #923f09; // #a3470a; 
}

.notice a:visited {
    color: #823808; // #863c0b; 
}

.notice a:hover {
    color: #723107; // #b56c3b; 
}
*/

/* make heading link icons visible when focused */

.page__content h1 .header-link:focus,
.page__content h2 .header-link:focus,
.page__content h3 .header-link:focus,
.page__content h4 .header-link:focus,
.page__content h5 .header-link:focus,
.page__content h6 .header-link:focus {
    opacity: unset;
}

/* custom color for focus outline */
a:focus,
button:focus,
.bigfoot-footnote__button:focus,
summary:focus {
  outline: .2rem solid #f0f0f0;
/*  outline-offset: .2rem; */
/*  outline-color:#007053; */
  box-shadow: 0 0 0 .3rem #007053;
}

/* more heading style experimentation */

/*
h1,h2,h3,h4,h5,h6 {
    color: $masthead-link-color;
}
*/

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0.5em;
}

h2 {
    padding-bottom: 0em;
    border-bottom: none;
}

.pagination {
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 1em;
}

a.pagination--pager.disabled {
  color: mix(#fff, $text-color, 20%);
}

.pagination li a.disabled {
  color: mix(#111, $text-color, 25% /* 20% */);  /* rgba(241,241,241,0.8); */
}

a.back-to-top {
  color: mix(#fff, $text-color, 20%);

    &:hover {
      color: $link-color-hover;
    }
}

.social-icons .fa-mastodon,
.social-icons .fa-mastodon-square {
/*! color: #2b90d9; */ 
color: unset !important; }

.footer-links-container {
    display: block;
    text-align: center;
}

.footer-buttons-container img {
    max-height: 31px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}

/*
.footer-buttons-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(88px, 1fr));
    grid-column-gap: 10px;
}
*/

.footer-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
