---
sitemap: false
---

/*
 *
 *  Minimal Mistakes
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "grid";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "page";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "vendor/bigfoot/bigfoot-variables.scss";  
@import "vendor/bigfoot/bigfoot-number.scss";   
@import "vendor/bigfoot/bigfoot-mixins.scss";  
@import "vendor/bigfoot/bigfoot-button.scss";   
@import "vendor/bigfoot/bigfoot-popover.scss";  
//@import "vendor/google/fonts";