---
# Only the main Sass file needs front matter (the dashes are enough)
---
$max-width: 85%;
@charset "utf-8";
// $background-color: #252a34;
// $primary-color: #00b386 !default;
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // dark skin
@import "minimal-mistakes"; // main partials
@import "vendor/bigfoot/bigfoot-variables.scss";
@import "vendor/bigfoot/bigfoot-number.scss";
@import "vendor/bigfoot/bigfoot-mixins.scss";
@import "vendor/bigfoot/bigfoot-popover.scss";

/* see if focus-visible is better here
a:focus, button:focus, .bigfoot-footnote__button:focus {
  outline: solid 3px;
  outline-offset: 0px;
  outline-color: $masthead-link-color;
}
*/

.greedy-nav a:focus, div:focus, .search__toggle a:focus, button:focus, .taxonomy__index a:focus, a.back-to-top:focus {
  outline: .2rem solid; /* 3px; */
  outline-offset: .2rem; /* -1px; */
  outline-color: $masthead-link-color;
  box-shadow: 0 0 0 .3rem #f0f0f0;
}

.author__urls a:focus, .page__taxonomy-item:focus, .pagination li a:focus, .pagination--pager:focus, .archive__item a:focus, .toc__menu a:focus, a.btn:focus {
  outline: solid 3px;
  outline-offset: -3px;
  outline-color: $masthead-link-color;
}

h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus {
  outline: solid 3px;
  outline-offset: -3px;
  outline-color: $masthead-link-color;
}

.archive__item a[rel="permalink"] { position: relative; }

h2 {
    padding-bottom: 0em;
    border-bottom: none;
  }

/* make heading link icons visible when focused */

.page__content h1 .header-link:focus,
.page__content h2 .header-link:focus,
.page__content h3 .header-link:focus,
.page__content h4 .header-link:focus,
.page__content h5 .header-link:focus,
.page__content h6 .header-link:focus {
    opacity: unset;
}

/* custom color for focus outline */
a:focus,
button:focus,
.bigfoot-footnote__button:focus,
summary:focus {
  outline: .2rem solid $masthead-link-color; /* #007053 */
/*  outline-offset: .2rem; */
/*  outline-color:#007053; */
  box-shadow: 0 0 0 .3rem #f0f0f0;
}

.breadcrumbs ol {
    padding: 0;
    list-style: none;
    // width: calc(#{$max-width} - 2rem ); // width: 82%;
    /* font-size: 1em; */
}

.breadcrumbs li:not(:last-child)::after {
    display: inline-block;
    content: "/";
}

.wiki-breadcrumbs ol {
    list-style: none;
    padding: 0;
}

.wiki-breadcrumbs li {
    display: inline-block;
}

.wiki-breadcrumbs li:not(:last-child)::after {
    display: inline-block;
    content: "/";
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5em /* 1em */ 0 0.5em;
}

.littlefoot {
    --popover-background-color: #21262f !important;
    --popover-border: 1px solid $border-color;
    --popover-text-color: #eaeaea !important;
    --popover-font-size: $doc-font-size;
}

.pagination {
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 1em;
}

a.pagination--pager.disabled {
  color: mix(#000, $text-color, 20%);
}

.social-icons .fa-mastodon,
.social-icons .fa-mastodon-square {
/*! color: #2b90d9; */ 
color: unset !important; }

.footer-links-container {
    display: block;
    text-align: center;
}

/*
.footer-links-container a {
    text-decoration: underline;
    color: #fb802f;
}

.footer-links-container a {
    color: #fc9959;
}

.footer-links-container a:visited {
    color: #c96626;
}
*/

.footer-buttons-container img {
    max-height: 31px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}

/*
.footer-buttons-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(88px, 1fr));
    grid-column-gap: 10px;
}
*/

.footer-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}