---
layout: notesindex
excerpts: true
folder-title: "Note-taking"
title: "Note taking"
---

<h2>All {{page.title}} folders</h2>

{% assign folders = site.notes | where_exp:"item", "item.path contains 'Reading'" %}
{% assign wikifolders = "" | split:"" %}

{% for folder in folders %}
{% assign tempvar = folder.path | split:"/" %}
{% assign wikifolders = wikifolders | push:tempvar[1] %}
{% endfor %}

{% assign wikifolders = wikifolders | uniq | sort %}

<div class="wiki-folder-grid">
    <div class="wiki-folder-grid-thirds">
        <a class="" href="/notes/Note-taking/Approaches">
            <div class="btn btn--primary btn--large">Approaches</div>
        </a>
    </div>
    <div class="wiki-folder-grid-thirds">
        <a class="" href="/notes/Note-taking/Dendron">
            <div class="btn btn--primary btn--large">Dendron</div>
        </a>
    </div>
    <div class="wiki-folder-grid-thirds">
        <a class="" href="/notes/Note-taking/Obsidian">
            <div class="btn btn--primary btn--large">Obsidian</div>
        </a>
    </div>
<!--
    <div class="wiki-folder-grid-thirds">
        <a class="" href="/notes/Note-taking/Folder">
            <div class="btn btn--primary btn--large">Folder</div>
        </a>
    </div> -->
</div>

{% assign note-taking_notes_pinned = site.notes | where:"note-taking","true" | where:"pinned","true" | sort: "path" %}
{% unless note-taking_notes_pinned == empty %}
<h2 id="pinned">Pinned {{page.title}} notes:</h2>
<ul>
    {% for item in note-taking_notes_pinned %}
    <li>{% if item.pinned %}📌 {% endif %}
        <a href="{{ item.url }}">{{ item.title }}
            {% if item.status == ":seedling:" %} :seedling:{% endif %}
            {% if item.status == ":herb:" %} :herb:{% endif %}
            {% if item.status == ":evergreen_tree:" %} :evergreen_tree:{% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
{% endunless %}


<h2 id="all">All {{page.title}} items</h2>
{% assign note-taking_notes_all = site.notes | where:"note-taking","true" | sort: "path" %}
{% if note-taking_notes_all.size > 0 %}
<ul>
    {% for item in note-taking_notes_all %}
    <li>{% if item.pinned %}📌 {% endif %}
        <a href="{{ item.url }}">{{ item.title }}
            {% if item.status == ":seedling:" %} :seedling:{% endif %}
            {% if item.status == ":herb:" %} :herb:{% endif %}
            {% if item.status == ":evergreen_tree:" %} :evergreen_tree:{% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There's nothing here yet!</p>
{% endif %}