/* ==========================================================================
   Dark-citrus-sage skin
   ========================================================================== */

/* new font tests */

@font-face {
    font-family: "Atkinson-Hyperlegible";
    src: url('../fonts/atkinson-hyperlegible-regular-102a.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson-Hyperlegible";
    src: url('../fonts/atkinson-hyperlegible-bold-102a.woff2');
    font-weight: 700; /* bold */
    font-style: normal;
}

@font-face {
    font-family: "Cartridge";
    src: url('../fonts/Cartridge-Regular.woff2');
    font-weight: 400; /* bold */
    font-style: normal;
}

@font-face {
    font-family: "Cartridge";
    src: url('../fonts/Cartridge-Bold.woff2');
    font-weight: 700; /* bold */
    font-style: normal;
}

/* end of new font tests; also added $sans-serif-2 family in _variables.scss */

/* Colors */
$background-color: #252a34 !default;
$text-color: #eaeaea !default;
$primary-color: #ff6600 !default; /* orange */
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 30%) !default;
$link-color: mix($primary-color, $text-color, 80%) !default;
$link-color-hover: mix(#fff, $link-color, 20%) !default;
$link-color-visited: mix(#000, $link-color, 20%) !default;
$masthead-link-color: #00D19D; /* #00b386 !default;  sage */
$masthead-link-color-hover: mix(/* #000, */ #fff, $masthead-link-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;
/* My Additional Colors */
$backlink-background-color: mix(#000, $background-color, 10%) !default;
$audience: mix($background-color, $masthead-link-color, 65%);

$caption-font-family: sans-serif !default;

.author__urls.social-icons .svg-inline--fa,
.author__urls.social-icons .svg-inline--fab,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}

.audience {
  color: $audience;
  font-weight: bold;
  display: block;
}

.wiki-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.wiki-flex-item {
  flex: 1;
  text-align: center;
}

.wiki-folder-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.wiki-folder-grid-thirds {
  flex: none;
  flex-basis: calc(100%/3);
  text-align: center;
  padding: .5em .5em .5em .5em;
}

.backlink-box {
    background: $backlink-background-color;
    padding: 1em;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
    position: relative;
}

.backlink-box:hover {
    box-shadow: 0 0 0 0.25rem $link-color;
}

.backlink-box a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.backlink-box a {
    text-decoration: underline;
}

.backlink-box a:focus {
    text-decoration: underline;
}

.backlink-box:focus-within {
    box-shadow: 0 0 0 0.25rem $link-color;
}

.backlink-box:focus-within a:focus {
    text-decoration: underline;
}

details summary {
//    background-color: $masthead-link-color-hover;
    outline: 2px solid $border-color;
    cursor: pointer;
    padding: .5rem 1rem;
}

details summary > * {
    display: inline;
}

details > div {
    border: 2px solid $border-color;
    margin-top: 0;
    padding: 1rem;
}

details {
    padding: .5rem;
}

summary:hover, /* summary:focus */ {
   box-shadow: 0 0 0 0.35rem $masthead-link-color-hover;
}

.list-unstyled {
    list-style: none;
    padding: 0;
}

progress {
    -webkit-appearance: none;
}

::-webkit-progress-value {
    background-color: $masthead-link-color;
}

::-moz-progress-bar {
    background-color: $masthead-link-color;
}

/* more heading and color experimentation */

h1,h2,h3,h4,h5,h6 {
    color: $masthead-link-color;
}

.footnote {
    color: #d2d2d2 !important;
    text-decoration: none;
  }

.footnotes {
    color: #d2d2d2 !important;
}

.btn--primary {
    background-color: #ff944d !important;
    color: #242424 !important;
}

.btn--primary:visited {
    background-color: #db8043 !important;
    color: #030303 !important;
}

.btn--primary:hover {
    background-color: #fc9959 !important;
    color: #030303 !important;
}

.nav__title {
    background-color: #ff8b3d !important;
    color: #1f1f1f !important;
}