---
layout: single
---

<h1>Hi, I'm Ryan.</h1>
<p>I'm an instructional designer at Idaho State University, a Ph.D. student in English and the Teaching of English, and an academic journal editor.</p>
<p>Whether as a community college librarian, a college radio d.j., a rhetoric and composition instructor, or the other positions I've held, I help people understand complex ideas and systems, embrace curiosity, and explore new alternatives.</p>
<p>A better world is possible, and I aim to help make it happen. If you're curious for more details, here's more <a href="{{ site.url}}/about/">about me</a>.</p>
<!-- 
{% include about-me.html %}
-->

<h2>Featured Sections</h2>

<div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(2, 0.5fr);">
    <div><a class="btn btn--primary btn--large" aria-describedby="blog-desc" href="{{ site.url }}/posts/">Blog</a><br><span id="blog-desc">Somewhat regular posts.</span></div>
    <div><a class="btn btn--primary btn--large" aria-describedby="bookmarks-desc" href="{{ site.url }}/bookmarks/">Bookmarks</a><br><span id="bookmarks-desc"></span>Annotated links.</span></div>
    <div><a class="btn btn--primary btn--large" aria-describedby="notes-desc" href="{{ site.url }}/notes/">Notes</a><br><span id="notes-desc">My digital garden.</span></div>
    <div><a class="btn btn--primary btn--large" aria-describedby="reading-desc" href="{{ site.url }}/Reading/">Reading</a><br><span id="reading-desc">What I'm reading.</span></div>
    <div><a class="btn btn--primary btn--large" aria-describedby="colophon-desc" href="{{ site.url }}/colophon/">Colophon</a><br><span id="colophon-desc">How I make this site.</span></div>
    <div><a class="btn btn--primary btn--large" aria-describedby="links-rhizome-desc" href="{{ site.url }}/links-rhizome/">Links Rhizome</a><br><span id="links-rhizome-desc">I am also here.</span></div>
</div>

<h2>Featured Posts</h2>
{% for post in site.tags.featured %} 
<article>
{% if post.link %}
  <h3 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link" aria-hidden="true"></i></h3>
{% else %}
  <h3><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
  {{ post.excerpt | markdownify | truncate: 220 }}
{% endif %}
</article>
{% endfor %}

<h2>{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>

{% for post in paginator.posts limit:5 %}
<article>
{% if post.link %}
  <h3 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link" aria-hidden="true"></i></h3>
{% else %}
  <h3><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
  {{ post.excerpt | markdownify | truncate: 220 }}
{% endif %}
</article>
<!--  {% include archive-single.html %} -->
{% endfor %}

{% include paginator.html %}
