---
layout: notesindex
excerpts: true
folder-title: "Notes"
---

<h1>Welcome to my notes!</h1>
{% include wikidescription.html %}

<h2 id="all-folders">All folders</h2>

{% assign folders = site.notes | where_exp:"item", "item.path contains '_notes'" %}
{% assign wikifolders = "" | split:"" %}

{% for folder in folders %}
{% assign tempvar = folder.path | split:"/" %}
{% assign wikifolders = wikifolders | push:tempvar[1] %}
{% endfor %}

{% assign wikifolders = wikifolders | uniq | sort %}

<div class="wiki-folder-grid">
    {% for folder in wikifolders %}
    {% unless folder contains 'md' or folder contains 'html' %}
    <div class="wiki-folder-grid-thirds">
        <a class="" href="/notes/{{folder}}/">
            <div class="btn btn--primary btn--large">{{folder}}</div>
        </a>
    </div>
    {% endunless %}
    {% endfor %}
</div>

{% assign all_notes = site.notes | where:"published", "true" | sort:"path" %}
<details open><summary><h2 id="all-notes">:house_with_garden: All my notes</h2></summary>
    <div>
    <ul>
        {% for item in all_notes %}
        <li><a href="{{ item.url }}">{{item.path}}</a>
            {% if item.status == ":seedling:" %} :seedling:{% endif %}
            {% if item.status == ":herb:" %} :herb:{% endif %}
            {% if item.status == ":evergreen_tree:" %} :evergreen_tree:{% endif %}
        </li>
        {% endfor %}
    </ul>
    </div>
</details>

{% assign emerging_notes = site.notes | where:"status", ":seedling:" | sort: "path" %}
{% assign established_notes = site.notes | where:"status", ":herb:" | sort: "path" %}
{% assign evergreen_notes = site.notes | where:"status", ":evergreen_tree:" | sort: "path" %}

<details open><summary><h2 id="emerging">:seedling: Emerging Notes</h2></summary>
<div>
    {% if emerging_notes.size > 0 %}
    <ul>
        {% for item in emerging_notes %}
        <li><a href="{{ item.url }}">{{item.path}}</a> :seedling:
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no emerging notes yet!</p>
    {% endif %}
</div></details>

<details open><summary><h2 id="established">:herb: Established Notes</h2></summary>
<div>
    {% if established_notes.size > 0 %}
    <ul>
        {% for item in established_notes %}
        <li><a href="{{ item.url }}">{{item.path}}</a> :herb:
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no established notes yet!</p>
    {% endif %}
</div>
</details>

<details open><summary><h2 id="evergreen">:evergreen_tree: Evergreen Notes</h2></summary>
<div>
    {% if evergreen_notes.size > 0 %}
    <ul>
        {% for item in evergreen_notes %}
        <li><a href="{{ item.url }}">{{item.path}}</a> :evergreen_tree:
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no evergreen notes yet!</p>
    {% endif %}
</div>
</details>